<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.antimicrobial"
        versionCode = "10" 
        version     = "2.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Antimicrobial App</name>

    <description>
        Aplicacion Antimicrobial
    </description>

    <author href="http://multimedialab.co" email="info@multimedialab.co">
        Multimedia Lab SAS
    </author>

     <platform name="android">
              <icon src="resources/icons/ldpi.jpg" density="ldpi" />
              <icon src="resources/icons/mdpi.jpg" density="mdpi" />
              <icon src="resources/icons/hdpi.jpg" density="hdpi" />
              <icon src="resources/icons/xhdpi.jpg" density="xhdpi" />
     </platform>

</widget>