<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.antimicrobial"
        versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <name>Antimicrobial App</name>

    <description>
        Aplicacion Antimicrobial
    </description>

    <author href="http://multimedialab.co" email="info@multimedialab.co">
        Multimedia Lab SAS
    </author>

    <icon src="icon.png"/>

    <icon src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />



</widget>